body {
        font-family: "Nanum Myeongjo", serif;
        font-weight: 400;
        font-style: normal;
        margin: 0;
        font-size: 16px;
      }
      
/*Header stuff here */

header {
    background-color: #F2E4E0;
    padding: 1rem 2vw;
}

header h1 {
margin: 0;
color: #F0724F;
}

header p{
    margin: 0;
    color: #F0724F;
    letter-spacing: normal;
}

/* Nav stuff here */

nav {
    background-color: #ADC5D9;
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a {
    background-color: #61788C;
    color: white;
}

nav a:hover {
    color: #F0724F;
}

/* main section here. */

 main {
    padding: 1rem 2vw;
 }

 main h1 {
    color: #61788C;
 }

 main h2{
    color: #F0724F;
    margin-bottom: .2rem;
 }

 main p {
    color: black;
    margin: 0 0 .3rem 0;
 }

 main ol {
    padding: .5rem 3vw;
    background-color: #F2E4E0;
}

main dl dt {
    color: #61788C;
    font-weight: 800;
}

main dl dd {
    color: black;
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 155%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    color: #61788C;
    font-style: normal;
    background-color: #F2E4E0;
    padding: .8rem;
    width: 12rem;
    border-style: solid;
    border-color: #ADC5D9;
    border-radius: .4rem;
}

main a {
    color: #024873
}

main a:hover {
    color: rgb(240, 79, 84)
}

/* footer section here */

footer {
    background-color: #ADC5D9;
    text-align: center;
    color: #61788C;
    padding: 1rem 0;
    font-size: .8rem;
}

footer a {
    color: #024873;
}